{% load static %}
{% load templates %}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    {% autoescape off %}
    {% meta %}
    {% endautoescape %}
</head>

<body>
    <header>
        {% autoescape off %}
        {% header_logo %}
        {% endautoescape %}
        <div class="account-wrapper">
            <form action="/login/" method="post" class="sign-wrapper" style="font-size: initial;">
                {% csrf_token %}
                <button class="button" id="sign" type="submit">Войти</button>
            </form>
            <form action="/register/" method="post" class="sign-wrapper" style="font-size: initial;">
                {% csrf_token %}
                <button class="button" id="register" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </header>
    <div class="content">
        <form action="/register/" method="post" class="register-form">
            {% csrf_token %}
            <legend>Зарегистрироваться</legend>
            <input name="username" type="text" placeholder="Имя пользователя" required>
            <input name="email" type="email" placeholder="Почта" required>
            <input name="password1" type="password" placeholder="Пароль" required>
            <input name="password2" type="password" placeholder="Подтверждение пароля" required>
            <button type="submit" name="action" value="sign-up">Зарегистрироваться</button>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <span>{{message}}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <!-- Footer -->
    {% autoescape off %}
    {% footer %}
    {% endautoescape %}
</body>

</html>