{% load static %}
{% load templates %}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    {% autoescape off %}
    {% meta %}
    {% endautoescape %}
</head>

<body>
    <!-- Header -->
    <header>
        <div class="logo-wrapper">
            <a style="display: contents;" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}">
                <div id="logo"></div>
                <div class="name-wrapper">
                    <span id="name">Hyper</span>
                    <span id="description">Сервис сокращения ссылок</span>
                </div>
            </a>
        </div>
        <div class="account-wrapper">
            <form action="/login/" method="post" class="sign-wrapper" style="font-size: initial;">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <button class="button" id="usericon" name="action" value="exit"
                    type="submit">{{user.get_username.0.capitalize}}</button>
                {% else %}
                <input name="username">
                <input name="password">
                <button class="button" id="sign" name="action" value="login" type="submit">Войти</button>
                {% endif %}
            </form>
        </div>
    </header>
    <!-- Main -->
    <div class="content">
        <form action="/home/" method="post" class="shortener-form">
            {% csrf_token %}
            <legend>Сокращайте ссылки и отслеживайте количество переходов</legend>
            <input name="link" type="text" placeholder="https://example.com/" required>
            <button type="submit" , value="Create">Сократить</button>
        </form>
        {% if links.exists %}
        <table class="links-table">
            <thead>
                <tr>
                    <td>Короткая ссылка</td>
                    <td>Дата создания</td>
                    <td>Оригинальная ссылка</td>
                    <td>Количество переходов</td>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                <tr>
                    <td>
                        <form action={{link.short_link}}><button class="link" type="submit">{{link.short_link}}</button>
                        </form>
                    </td>
                    <td>{{ link.creation_date }}</td>
                    <td>
                        <form action={{link.original_link}}><button class="link"
                                type="submit">{{link.original_link}}</button></form>
                    </td>
                    <td>{{link.following_count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <!-- Footer -->
    <footer>
        <span>© 2022 Hyper</span>
    </footer>
</body>

</html>