{% load static %}
{% load templates %}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta -->
    {% autoescape off %}
    {% meta %}
    {% endautoescape %}
</head>

<body>
    <!-- Header -->
    <header>
        {% autoescape off %}
        {% header_logo %}
        {% endautoescape %}
        <div class="account-wrapper">
            {% if user.is_authenticated %}
            <form action="/login/" method="post" class="sign-wrapper" style="font-size: initial;">
                {% csrf_token %}
                <span>Добро пожаловать, {{user.get_username}}</span>
                <button class="button" id="usericon" name="action" value="exit" type="submit">Выйти</button>
            </form>
            {% else %}
            <form action="/login/" method="post" class="sign-wrapper" style="font-size: initial;">
                {% csrf_token %}
                <button class="button" id="sign" type="submit">Войти</button>
            </form>
            <form action="/register/" method="post" class="sign-wrapper" style="font-size: initial;">
                {% csrf_token %}
                <button class="button" id="register" type="submit">Зарегистрироваться</button>
            </form>
            {% endif %}
        </div>
    </header>
    <!-- Main -->
    <div class="content">
        <form action="/home/" method="post" class="shortener-form">
            {% csrf_token %}
            <legend>Сокращайте ссылки и отслеживайте количество переходов</legend>
            <input name="link" type="text" placeholder="https://example.com/" required>
            <button type="submit" name="action" value="create-link">Сократить</button>
        </form>
        {% if links.exists %}
        <table class="links-table">
            <thead>
                <tr>
                    <td>Короткая ссылка</td>
                    <td>Дата создания</td>
                    <td>Оригинальная ссылка</td>
                    <td>Количество переходов</td>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                <tr>
                    <td>
                        <form action={{link.short_link}} target="_blank"><button class="link"
                                type="submit">{{link.short_link}}</button>
                        </form>
                    </td>
                    <td>{{ link.creation_date }}</td>
                    <td>
                        <form action={{link.original_link}} target="_blank"><button class="link"
                                type="submit">{{link.original_link}}</button></form>
                    </td>
                    <td>{{link.following_count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <!-- Footer -->
    {% autoescape off %}
    {% footer %}
    {% endautoescape %}
</body>

</html>